body {
    padding: 8px;
    margin: 8px;
}

#video {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#img-canvas {
    display: none;
    height: 100vh;
    width: 100vw;
}

#scanned-food-list-count {
    background-color: #2196f3;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    padding: 4px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

#preloader-area {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#recipes-list-area {
    display: none;
}

#food-list-area {
    display: none;
}

#btn-close {
    position: fixed;
    padding: 8px;
    margin: 8px;
    bottom: 0px;
    right: 0px;
    display: none;
}